<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="mcobj" class="com.loosecoupling.Mathcheat"></bean>
        <bean id="scobj" class="com.loosecoupling.Sciencecheat"></bean>
        <bean id="std" class="com.loosecoupling.Student">
        <property name="cheat" ref="scobj"></property>
        
        </bean>
        </beans>